* {
	margin: 0.1vh;
	padding: 0.1vh;
}

body {
	font-family: Geneva, serif;
	font-size: 2.5vh;
	margin: auto;
}

header {
	padding: 3.8vh 3.8vh;
	width: 100%;
	position: fixed;
	z-index: 1;
	background-color: rgba(0,114,41,0.5);
	border-radius: 4px; 
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

header a {
	color: rgba(255,255,255,0.9);
	padding: 1.6vh 1.6vh;
	margin: 1vh 1vh;
	font-size: 2.5vh;
	border-radius: 4px;	
	text-decoration: none;
}

header > a > img {
	vertical-align: middle;
	height: 2.5vh;
	width: 2.5vh;
}

header > a > img.linked {
	height: 2.5vh;
	width: 3vh;
}

header a:hover {
	border: solid 2px black;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

section a:link {
	color: darkgreen;
}

section a:visited {
	color: red;
}

section {
	position: relative;
	top: 12vh;
}

section li h4 > img {
	width: 3vw;
	height: 3vw;
}

section li h4 {
	text-align: center;
}

section ul > li p {
	margin: 4vw 4vw;
	padding: 1vw 1vw;
	font-size: 3vh;
	background-color: rgba(200, 0, 0, 0.1);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

img {
	height:70vh;
	width: 98.6vw;
	border-radius: 4px;	
	margin-left: auto;
	margin-right: auto;
}

div ul {
	list-style-type: none;
}

section > h2 {
	background-color: rgb(0,114,41);
	color: white;
	border-radius: 4px; 
	text-align: center;
}

h2 + ul.projects li > h3 {
	color: white;
	background-color: rgb(210,16,52);
	border-radius: 4px; 
	text-align: center;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

section > h4 {
	text-align: center;
}

.languages {
	border-collapse: collapse;
	margin: 1vw 0;
	margin-left: auto;
	margin-right: auto;
	min-width: 400px;
	border-radius: 10px 10px 0 0;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.languages tr {
	background-color: rgba(0,114,41,0.5);
	color: white;
	text-align: center;
	font-weight: bold;
}

.languages tr, 
.languages td {
	padding: 2vw 2vw; 
	border-top: 3px solid #009879;
	border-bottom: 3px solid #009879;
}

.tech {
	border-collapse: collapse;
	margin: 1vw 0;
	margin-left: auto;
	margin-right: auto;
	min-width: 800px;
	border-radius: 10px 10px 0 0;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.tech tr {
	background-color: rgba(0,114,41,0.5);
	color: white;
	text-align: center;
	font-weight: bold;
}

.tech tr, 
.tech td {
	padding: 2vw 2vw; 
	border-top: 3px solid #009879;
	border-bottom: 3px solid #009879;
}

footer {
	position: relative;
	top: 12vh;
}

footer > h2 {
	color: white;
	background-color: rgb(0,114,41);
	border-radius: 4px; 
	text-align: right;
}

footer ul {
	list-style-type: none;
	text-align: left;
}

footer ul > li > a:link {
	color: darkgreen; 
}

footer ul > li > a:visited {
	color: red; 
}

br {
	margin: 5px;
}