* {
	margin: 0.1vh;
	padding: 0.1vh;
}

body {
	font-family: Geneva, serif;
	font-size: 2.5vh;
}

header {
	padding: 3.8vh 3.8vh;
	width: 100%;
	position: fixed;
	z-index: 1;
	background-color: rgba(0,114,41,0.5);
	border-radius: 4px; 
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

header a {
	color: rgba(255,255,255,0.9);
	padding: 1.6vh 1.6vh;
	margin: 1vh 1vh;
	font-size: 2.5vh;
	border-radius: 4px;	
	text-decoration: none;
}

header p {
	float: right;
	font-size: 1.3vw;
	margin: 0 7vw auto 0;
	color: white;
}

header > a > img {
	vertical-align: middle;
	height: 2.5vh;
	width: 2.5vh;
}

article>div.skills {
    display: flex;
    flex-direction: row;
    width:  98.5vw;
    justify-content: space-around;
}

article>div.skills img:nth-child(3) {
    width:  6vw;
}

div.skills>img {
    margin: 10px;
    flex: 0 1 auto;
    width: 8vw;
	height: 8vw;
}


header > a > img.linked {
	height: 2.5vh;
	width: 3vh;
}

header a:hover {
	border: solid 2px black;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

ul>li p {
	position: relative;
}

section a:link { 
	display: inline-block;
	color: white;
	background-color: rgba(0,114,41);
	padding: 5vh;
	text-align: center;
	text-decoration: none;
	border-radius: 50px;
}


section a:visited {
	display: inline-block;
	color: white;
	background-color: rgba(0,114,41);
	padding: 5vh;
	text-align: center;
	text-decoration: none;

}

section {
	position: relative;
	top: 12vh;
}

section li h4 > img {
	width: 3vw;
	height: 3vw;
}

section li h4 > img.narrow {
	width: 2.1vw;
	height: 3vw;
}

section li h4 {
	text-align: center;
}

section ul > li p {
	margin: 4vw 4vw;
	padding: 1vw 1vw;
	font-size: 4vh;
	background-color: rgba(0, 200, 0, 0.05);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

img {
	height:70vh;
	width: 98.6vw;
	border-radius: 4px;	
	margin-left: auto;
	margin-right: auto;
}

div ul {
	list-style-type: none;
}

section > h2 {
	background-color: rgb(0,114,41);
	color: white;
	border-radius: 4px; 
	text-align: center;
}

h2 + ul.projects li > h3 {
	color: white;
	background-color: rgb(210,16,52);
	border-radius: 4px; 
	text-align: center;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

section > h4 {
	text-align: center;
}


footer {
	position: relative;
	top: 12vh;
}


br {
	margin: 5px;
}